<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock title %}</title>
</head>
<body>
{% block breadcrumd %}
Главная страница
{% endblock breadcrumd %}



<footer>
    <div>MyCorp. 2024 Все права защищены</div>

</footer>
</body>
</html>